
/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* .container {
    display:grid;
    grid-template-areas:
    "navbarPlaceholder navbarPlaceholder navbarPlaceholder"
    ". invite ."
    "footer footer footer";
} */

.invite {
    text-align: center;
    /* grid-area: invite; */
}

}
/* .navbarPlaceholder {
    grid-template-areas: navbarPlaceholder;
} */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #777;
    color: #f8f9fa;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
/* add background color to collapse bar while hovering */
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  /* add background color to collapsible text */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  /* remove bullet points from report menu */
  #report ul {
    list-style-type: none;
  }

  /* modify back button size */

  #back {
    font-size: 25pt;
  }
